.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    gap: 0.2em;
    font-size: 1em;
}

.wrap_img {
    height: 5vh;
}

.search img {
    height: 100%;
}

.search button {
    padding: 0.2em;
    background-color: var(--accent);
    border: 1px solid var(--border);
    border-radius: 0.5em;
    transition: all ease 500ms;
}
.search button:hover{
    box-shadow: 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover),  0 0 10px var(--accent-hover) ;
    transform: scale(0.92);
    transition: all ease 300ms;
    background-color: var(--accent-hover);
}

.search input{
    height: 6vh;
    border: 1px solid var(--border);
    font-size: 1em;
    border-radius: 1.5em 0.5em 0.5em 1.5em;
    background-color: var(--accent);
    color: var(--text-primary);
    padding-left: 0.2em;
    transition: all ease 300ms;
}

.search input:hover{
    box-shadow: 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover),  0 0 10px var(--accent-hover) ;
    border: 1px solid var(--accent);
    transition: all ease 300ms;
    background-color: var(--accent-hover);
    opacity: 1;
}

::placeholder{
    color:var(--text-secondary)
}

